.applicant-table-row__wrapper {
    height: 72px;
    width: 100%;
    background-color: white;
}

.applicant-table-row__item {
    border-top: 1px solid #eeeeee;
    padding-left: 24px;
    color: #505050;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.applicant-table-row__item:last-child {
    padding-right: 24px;
}

.applicant-table-row__item.align-right {
    text-align: right;
}

.applicant-table-row__button-wrapper {
    margin-left: 20px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.applicant-table-row__button-wrapper:hover {
    background: rgba(0,0,0,0.1);
}

.applicant-table-row__icon:before {
    color: #909090;
    font-size: 24px;
}