.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  width: 100%;
  max-width: 912px;
  min-height: 100px;
}

.form-wrapper {
  width: 100%;
  border-spacing: 0;
}

.col-20 {
  width: 20%;
}

.col-22 {
  width: 22%;
}

.col-30 {
  width: 30%;
}

.col-28 {
  width: 28%;
}